body {
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  background:#EBEEF0;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("../src/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("../src/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../src/fonts/Lato/Lato-Regular.ttf");
}


*{
  border: 0;
  padding: 0;
  position: relative;
  margin: 0;
}

.containerMain {
  background:#EBEEF0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
}